.gruppe-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  min-height: 300px;
  overflow: hidden;
}

.gruppe-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  width: 100%;
  height: 100%;
}

.button {
  background-color: #ff5b2e;
  color: white;
  font-size: large;
  font-weight: bold;
  padding: 14px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
}

.student-element {
  position: relative;
}

.student-element:hover {
  background-color: red;
  cursor: pointer;
}

.student-element:hover .remove-message {
  display: flex;
}

.remove-message {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(151, 0, 0, 0.8); /* Red background with 80% opacity */
  color: white;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
}
