.selected-country-text {
    text-align: center;
}
.question-container{
    display: flex;
    flex-direction: column;
    justify-content: center;  
    align-items: center;
}
.toast-container{
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.success-answer {
    text-align: center;
    font-weight: bold;
    color: greenyellow;
}
.wrong-answer {
    text-align: center;
    font-weight: bold;
    color: white;
}