.klasse-container {
  max-width: 1250px;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  background-color: white;
  color: black;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  overflow: scroll;
}

.student-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  font-weight: bold;
  border-radius: 10px;
}
.student-container img {
  width: 100%;
}

.student-container p {
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  text-align: center;
}


